*~
*.bak
*,cover
cover/
.coverage
dist/
.DS_Store
htmlcov/
.idea
.idea/
*.iml
MANIFEST
.noseids
public
*.pyc
__pycache__
*.pyo
.Python
python_example_fjung.egg-info/
python_helloworld.egg-info/
README
results/
results.html
.spyproject/
*.swp
target/
venv/
